body{
  height: 800px;
  /* background-color: gray; */
  background: rgba(0, 0, 0, 0.4);
}

.con{
  height: 800px;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  backface-visibility: visible;
}

.con1{
  margin-top: -15px;
  height: 70px;
  display: flex;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.title{
  font-family: 'YouTube Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  padding-top: 10px;
}

.cross_{  
  margin-left: 110px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.cross{
  height: 35px;
  width: 35px;
}

.cross:hover{
  background-color: rgb(209, 209, 209);
  border-radius: 30px;
}

.con2{
  height: 300px;
  margin-top: 10px;
}

.title2{
  font-family: 'YouTube Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  padding-top: 10px;
}

.intitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
  padding-top: 2px;
}

.inner2{
  margin-left: 15px;
  height: 130px;
  width: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 209, 209);
}

.des{
  margin-left: 15px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.qmark{
  height: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.des1,
.screen{
  margin-left: 15px;
  margin-top: 10px;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.screenshot{
  height: 35px;
  width: 90%;
  margin-left: 15px;
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  cursor: pointer;
  transition: border-color 0.15s,
  background-color 0.15s;
  border-radius: 5px;
}

.screenshot:hover{
  border-color: #7cacf8;
  background-color: rgb(199, 199, 199);
}

.screen{
  padding-left: 100px;
  margin-top: 10px;
  color: #7cacf8;
  cursor: pointer;
}

.place{
  margin-left: 10px;
  margin-top: 190px;
  display: flex;
}

.check{
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.checkbox{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 3px;
}

.enddes{
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin-left: 5px;
}

.send{
  margin-top: 20px;
  margin-left: 250px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  font-family: 'YouTube Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.send:hover{
  opacity: 0.7;
}

.send:active{
  transform: scale(0.98);
  transition-duration: 0.01s;
}


a:focus-visible,
button:focus-visible,
input:focus-visible{
  outline: 2px solid #1a73e8;
  outline-offset: 3px;
}
