body{
  font-weight: Roboto,Arial;
  margin: 0px;
  background-color: gray;
  background: rgba(0, 0, 0, 0.4);
  backface-visibility: visible;
}

.container{
  width: 1300px;
  height: 650px;
  margin-left: 120px;
  margin-top: 60px;
  border-radius: 30px;
  display: block;
  background-color: white;
}

.first-container{
  width: 1300px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between; 
}

.title{
  margin-top: 15px;
  margin-left: 20px;
  font-family: 'YouTube Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.options{
  width: 1300px;
  display: flex;
  border-bottom-width: 0.1px;
  border-bottom-style: solid;
}

a p{
  color: black;
}

a{
  text-decoration: none;
}

.request{
  font-family: 'YouTube Sans', sans-serif;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.removal{
  width: 170px;
  height: 50px;
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}


.request:hover{
  margin-bottom: 10px;
}

.new{
  margin-left: 800px;
  margin-top: 10px;
}

.new_{
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-family: 'YouTube Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.new:hover{
  opacity: 0.7;
}

.new:active{
  transform: scale(0.98);
  transition-duration: 0.01s;
}

.cross_{
  margin-left: 50px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.cross{
  height: 35px;
  width: 35px;
}

.cross:hover{
  background-color: rgb(209, 209, 209);
  border-radius: 30px;
}

.lower-part{
  margin-top: 50px;
  margin-left: 530px;
}

.tag{
  margin-top: -10px;
  margin-left: 50px;
  font-family: 'YouTube Sans', sans-serif;
  font-size: 18px;
}

.des,.se{
  margin-left: 480px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 8px;
}

.se{
  margin-left: 420px;
}

.blue{
  color: #3ea6ff;
  cursor: pointer;
}